@charset "utf-8";

html {
    overflow-x: hidden;
    font-size: 10px;
    scroll-behavior: auto;
}
body {
    font-size: 1.6rem; color: #222;
    font-family: 'Noto Sans KR','suit','MalgunGothic', 'AppleSDGothic', sans-serif;
    overscroll-behavior: none; /* 터치나 휠로 인한 튕김 방지 */
    
}
section{
    height: calc(100vh - 10rem);
    min-width: 36rem;
    min-height: 70rem;
}
/* 모든 section(또는 해당 요소)에 적용 */
section, .main_wrap {
    scroll-margin-top: 10rem; /* header height만큼 여백 확보 */
}

h2 {
    padding: 7rem 0; 
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 6rem;
}
.container {
    padding: 0 15rem; /* 양쪽 여백 150px */
}
.blind {
    display: block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}
/* display: none */
.lang_wrap ul, .search_popup, .allmenu_popup{
    display: none;
}

/* header */
header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9000;  
    color: #FFF;
    min-width: 35rem;
}
header.scroll{
    background: #FFF;
    color: #222;
    transition: all 0.6s;
}
header.scroll h1 a {
    background:url(../img/logo.png) no-repeat;
    background-size: contain;
}
header::after{
    content:"";
    position: absolute;
    left: 0;right: 0;top: 10rem;
    height: 0;
    opacity: 0;
    background: #FFF;
    transition: all 0.6s;
    border-top: 0.1rem solid #0B5D37;
    z-index: 0;
}
header.on::after{
    height: 40rem;
    opacity: 1;
}
header.on #gnb .dep2 {
    display: flex;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
header h1 a{
    display: block;
    width: 15rem;
    height: 4.3rem;
    background: url(../img/logo_white.png) no-repeat;
    background-size: 100% auto;
}
header #gnb{
    width: 60%;
    height: 8rem;
}
header #gnb .dep1{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #gnb .dep1>li>a{
    display: block;
    padding: 3rem 2rem;
}
header #gnb .dep1>li{
    position: relative;
}
#gnb .dep2 {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    top: 12rem;
    z-index: 1;
    width: auto; /* 내용에 맞게 자동 */
    min-width: 100%; /* 최소 너비는 유지 */
    font-size: 1.5rem;
}

/* header - util */
header .util{
    display:flex;
    align-items: center;
    gap: 2rem;
    height: 8rem;
}
.util .lang_wrap{
    position: relative;
}
.util .lang_wrap ul{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 3rem; left: -1rem;
    width: 7.5rem; height: 7rem;
    background: #FFF;
    border-radius: 0.8rem;
    border: 1px solid #CCC;
    color: #585858;
    font-weight: 500;
    font-size: 1.5rem;
    z-index: 3;
}
.util .lang_wrap ul.active{
    display: flex;
}
.util .lang_wrap li{
    text-align: center;
}
.util .lang_wrap li:hover{
    color: #000;
}
.util .lang_wrap li a{
    padding: 0.7rem;
    display: block;
}
@media screen and (max-width: 1430px) {
    header #gnb .dep1>li>a{
        padding: 3rem 1rem;
        font-size: 1.5rem;
    }
    header #gnb .dep2 {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 1180px) {
    header #gnb .dep1{
        display: none;
    }
    .container{
        padding: 0 5rem;
        transition: all .8s;
    }    
}
@media screen and (max-width: 560px) {
    .container{
        padding: 0 5rem;
    }    
    header h1 a{
        width: 10rem;
        transition: all .8s;
    }
    header .util{
        gap: 2rem;
        font-size: 1.5rem;
    }
}
/* header - search */
.search_popup {
    position: absolute;
    left: 0;right: 0;top: 10rem;
    z-index: 3;
}
.search_popup form {
    height: 28rem;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 5rem;
    background: rgba(0, 0, 0, 0.5);
}
.search_popup form input{
    width: 45rem;
    height: 6rem;
    padding: 2rem;
    border-radius: 1rem;
}
.search_popup form button {
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
    background: #9b9b9b;
    color: #FFF;
    font-size: 2rem;
}
@media screen and (max-width: 660px) {
    .search_popup form {
        gap: 1rem;
    }
    .search_popup form input{
        width: 30rem;
        height: 4rem;
    }
    .search_popup form button {
        height: 4rem;
        width: 4rem;
        font-size: 1.5rem;
    }
    input::placeholder {
        font-size: 12px;
    }
}
/* header - allmenu */
.allmenu_wrap{
    position: relative;
}
.allmenu_popup{
    position: absolute;
    justify-content: space-between;
    padding: 3rem 8rem;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100vw;
    background: #ffffff;
    
}
.allmenu_popup .allmenu_logo{
    display: block;
    margin-top: 2rem;
}
.allmenu_popup .allmenu_logo img{
    width: 5rem;
}
.allmenu_popup .dep1{
    display: flex;
    gap: 4rem;
}
.allmenu_popup .dep1>li>a{
    display: block;
    border-bottom: 0.2rem solid rgb(0, 56, 7);
    padding: 1rem;
    color: #000;
}
.allmenu_popup .dep1>li{
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}
.allmenu_popup .dep2{
    margin-top: 1.5rem;
}
.allmenu_popup .dep2>li{
    font-weight: 400;
    font-size: 1.5rem;
    color: #000;
    padding: 1rem;
    text-align: center;
}
.allmenu_popup .dep3{
    margin-top: 1rem;
}
.allmenu_popup .dep3>li{
    margin-bottom: 0.7rem;
    font-weight: 400;
    font-size: 1rem;
    color: #4d4d4d;
}
.allmenu_popup button {
    height: 5rem;
    width: 5rem;
}
.allmenu_popup button i{
    font-size: 7rem;
    font-weight: 100;
    color: #353535;
}

@media screen and (max-width: 1200px) {
    .allmenu_popup {
        flex-direction: row;
        padding: 3rem;
        overflow-y: auto;
    }
    .allmenu_popup .dep1 {
        display: grid;
        gap: 2rem 4rem;
        width: 100%;
        margin: 0 5rem;
    }
    .allmenu_popup .dep1 > li, .allmenu_popup .dep2 > li{
        text-align: left;
    }
    .allmenu_popup .dep2,
    .allmenu_popup .dep3 {  
        display: none;
        padding-left: 3rem;
    }
    .allmenu_popup .dep2.active{
        display: block;
    }
    .allmenu_popup .dep1 > li > a.allmenu_toggle::after {
        content: "▼";
        float: right;
        transition: transform 0.5s ease;
    }
    .allmenu_popup .dep1 > li > a.allmenu_toggle.active::after {
        transform: rotate(180deg); /* 화살표 반전 */
    }
    .allmenu_popup .dep1 > li > a{
        border-bottom: 0.1rem solid rgb(0, 56, 7);
    }
    .allmenu_popup button i{
        font-size: 5rem;
        font-weight: 100;
        color: #353535;
    }
}
@media screen and (max-width: 430px) {
    .allmenu_popup .allmenu_logo{
        width: 2rem;
    }
    .allmenu_popup .dep2 {  
        padding-left: 0;
    }
    .allmenu_popup .dep2>li {  
        font-size: 1.2rem;
    }
}
/* footer */
footer{
    padding: 3rem 0;
    height: 100%;
    min-width: 35rem;
    background: rgba(0, 0 , 0, .1);
}
footer>*{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_info{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 5rem;
}
.footer_info img{
    width:  5.5rem;
    height: 7.7rem;
}
.footer_info address{
    margin-bottom: 1rem;
    line-height: 2rem;
}
.footer_link{
    display: flex;
    gap: 1rem;
    font-size: 4rem;
}
@media screen and (max-width: 830px) {
    .footer_info{
        font-size: 1.3rem;
        gap: 3rem;
    }
}
@media screen and (max-width: 660px) {
    .footer_info{
        flex-direction: column;
        font-size: 1rem;
        white-space: nowrap;
    }
    .footer_info address{
        margin-bottom: 1rem;
        line-height: 1rem;
    }
    footer>*{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_link{
        margin: 2rem;
        font-size: 2rem;
    }
}

/* main_wrap */
.main_wrap{
    min-width: 35rem;
}
.main_wrap .main_swiper {
    height: 100vh;
    position: relative;
}
.main_wrap .main_swiper .swiper-slide::before {
    content:""; position: absolute;
    left: 0;top: 0;right: 0;bottom: 0;
    background: rgba(0,0,0,0.3);
}
.main_wrap .main_swiper img, .main_wrap .main_swiper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.main_wrap .main_swiper .main_txt{
    position: absolute;
    left: 15rem;
    top: 50%;
    font-size: 5rem;
    font-weight: 500;
    line-height: 6rem;
    color: #FFF;
    opacity: 0;
    animation: fadeInText 1.2s ease-in-out 0.7s forwards;
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.main_wrap .main_controls {
    position: absolute;bottom: 50px;left: 0;
    display: flex;justify-content: center;
    width: 100%;
    z-index: 20;
    color: #FFF;
    font-size: 2rem;
}
.main_wrap .swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20rem;
    gap: 2rem;
    color: #FFF;
    position: static;
    width: auto;
}
.main_wrap .swiper-pagination .progress {
    width: 30rem;
    height: 5px;
    background:rgba(255,255,255,.5);
}
.main_wrap .swiper-pagination .bar {
    width: 0; 
    height: 100%;
    background: #FFF;
    animation: slideBar var(--slide-duration) linear;
}
@keyframes slideBar {
    0% {width: 0;}
    100% {width: 100%;}
}
.main_wrap .swiper_btn_prev::after {
    content:'\F494';
    font-family: remixicon;
    font-size: 2.4rem;
    margin-left: 2rem;
}
.main_wrap .swiper_btn_next::after {
    content:'\F496';
    font-family: remixicon;
    font-size: 2.4rem;
    margin-left: 1.5rem;
} 
@media screen and (max-width: 1180px) {
    .main_wrap .swiper-slide .main_txt{
        left: 10rem;
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 5rem;
        transition: all .8s;
    }
    
}
@media screen and (max-width: 560px) {
    .main_wrap .swiper-slide .main_txt{
        left: 5rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 3rem;
        transition: all .8s;
    }
    .main_wrap .swiper-pagination {
        width: 15rem;
    }
    
}

/* product */

.product_wrap{
    background :#0c1b36;
    border-top: 0.1rem solid #646464;
    color: #FFF;
}

.product_wrap .quick_product{
    display: none;
    font-size: 2rem;
}
.product_wrap .product_box {
    display: flex;
    gap: 2rem;
}
.product_wrap .product_box li {
    position: relative;
    border-radius: 1rem;
    width: 10rem;
    overflow: hidden;
    flex-grow: 1;
    height: 80%;
    text-align: center;
    transition: all 1s;
}
.product_img{
    width: 95%;
    height: 35rem;
}
.product_box li strong{
    display: block;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 50%;
}
.product_box li .product_list{
    display: none;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    right: 7%;
    top: 30%;
    font-size: 1.5rem;
}
.product_box li a{
    display: inline-block;
}
.product_box li:hover{
    background :#FFF;
    color: #000;
    flex-grow: 4;
}
.product_box li:nth-child(2):hover .product_list{
    top: 15%;
    right: 5%;
}
.product_box li:hover .product_img{
    filter: drop-shadow(10px 15px 10px #4d4d4d);
}
.product_box li:hover .product_list{
    display: flex;  
}
@media screen and (max-width: 1500px) {
    .product_box .product_img img{
        height: 60%;
    }
}
@media screen and (max-width: 1100px) {
    .product_wrap h2{
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 4rem;
        padding: 10rem 0 5rem 0 ;
        transition: all .8s;
    }
}
@media screen and (max-width: 900px) {
    .product_box li:hover .product_list{
        display: none;
    }
    .product_box li strong{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 560px) {
    .product_wrap h2{
        font-size: 2.3rem;
        line-height: 3rem;
        transition: all .8s;
    }
    .product_wrap .product_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-items: center; /* 내부 요소 가운데 정렬 */
    }

    .product_wrap .product_box li {
        width: 100%; /* 한 칸 차지 */
        max-width: 18rem; /* 최대 너비 제한 */
        height: auto; /* 높이 자동 조정 */
    }

    .product_wrap .product_box li .product_img {
        height: 18rem; /* 모바일에 맞는 이미지 높이 */
    }

    .product_wrap .product_box li strong {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .product_wrap .product_box li .product_list {
        display: none !important; /* 모바일에서는 제품 리스트 숨김 */
    }
}
/* esg */
.esg_wrap{
    height: 200vh;
}
.esg_intro{
    position: relative;
    height: 100vh;
    background :#0c1b36;
    text-align: center;
    line-height: 3rem;  
}
.intro_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 가운데 정렬 추가 */
    text-align: center;
    font-size: 3rem;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap; 
}
.esg_intro .intro_content strong{
    color: #FFF;
}
.esg_intro p{
    margin-bottom: 1.5rem;
}
.esg_intro .quick_esg{
    display: none;
}
@media screen and (max-width: 810px) {
    .intro_content {
        font-size: 1.5rem;
        transition: all .8s;
    }
    .esg_intro .quick_esg{
        display: block;
    }
}
/* .esg_box */
.esg_box{
    display: flex;
}
.esg_box .esg_img {
    position: relative; 
    width: 50%;
    height: calc(100vh - 10rem);
    overflow: hidden;
}
.esg_box .esg_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.esg_box .esg_img img.active{
    opacity: 1;
    z-index: 1;
}
.esg_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
}
.esg_content>*{
    min-width: 66rem;
}
.esg_content span{
    font-size: 3rem;
    font-weight: 500;
}
.esg_content div{
    height: 10rem;
    width: 100%;
    overflow: hidden;
    transition: height 0.8s;
    border-bottom: 1.5px solid rgba(0, 0 , 0, .3);
}
.esg_content div:hover {
    height: 300px;
}
.esg_content div a{
    display: block;
    padding: 5rem 3rem ;
}
.esg_content div span {
    line-height: 4rem;
    font-size: 3.5rem;
}
.esg_content div p{
    height: 10rem;
    line-height: 3.3rem;
    font-size: 1.8rem;
}
@media screen and (max-width: 960px) {
    .esg_content div p{
        line-height: 3rem;
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 810px) {
    .esg_content div p{
        line-height: 3rem;
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 810px) {
    .esg_box{
        display: none;
    }
    .esg_wrap{
        height: 100vh;
    }
}
/* news */
.news_wrap{
    min-height: 80rem;
}
.news_wrap .news_swiper{
    overflow: hidden;
}
.news_wrap .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news_wrap .news_swiper .swiper-slide {
    position: relative;
    height: 38rem;
    margin-right: 1.4rem;
    border-radius: 1rem;
    overflow: hidden;
}
.news_wrap .news_swiper .swiper-slide span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 400;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 90%);
    opacity: 0;
    transform: translateY(20px); /* 아래에서 올라오듯 */
    transition: all 0.4s ease;
    pointer-events: none; /* 클릭 막기 */
}
.news_swiper .swiper-slide:hover span {
    opacity: 1;
    transform: translateY(0);
}
.news_wrap .news_swiper{
    position: relative;
}
.news_wrap .news_swiper .swiper-pagination{
    background-color: rgba(0,0,0,0.1);
    position: static;
    margin-top: 5rem;
    width: 100%;
    height: 1rem;
}
.swiper-pagination-progressbar-fill {
    background-color: rgba(0,0,0,0.3) !important;
}
@media screen and (max-width: 700px) {
    .news_wrap h2{
        font-size: 3.5rem;
        transition: all .8s;
    }
    .news_wrap .news_swiper .swiper-slide {
        height: 32rem;
        transition: all .8s;
    }
}

/* recruit */
.recruit_wrap h2{
    color: #FFF;
    padding-bottom: 5rem;
}
.recruit_wrap{
    position: relative;
    overflow: hidden;
}
.recruit_wrap .recruit_bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 영상이 요소 크기에 꽉 차도록 */
    z-index: -1;        /* 콘텐츠보다 뒤에 위치 */
}
.recruit_wrap h2, .recruit_wrap .recruit_content {
    position: relative;
    z-index: 2; /* 영상보다 위에 나오게 */
}
.recruit_wrap .recruit_content{
    display: flex;
    justify-content: space-between;
}
.recruit_wrap .recruit_content a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39rem;
    height: 50rem;
    color: #FFF;
    
}
.recruit_wrap .recruit_content a:hover{
    transition: all 0.6s;
    color: #FFF;
    
}
.recruit_wrap .recruit_content span{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.recruit_wrap .recruit_content p{
    text-align: center;
    line-height: 2rem;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 50;
    transition: all 0.2s ease;
    filter: blur(5px); /* 퍼짐을 좀 더 자연스럽게 */
    background: radial-gradient(
      rgba(255, 255, 255, 0.5) 0%,   /* 중앙은 거의 흰색 */
      rgba(255, 255, 255, 0.2) 60%,  /* 중간은 투명해짐 */
      rgba(255, 255, 255, 0.05) 100% /* 바깥은 거의 안보임 */
    );
}

@media screen and (max-width: 1360px) {
    .recruit_wrap .recruit_content span {
        font-size: 3rem;
    }
    .recruit_wrap .recruit_content p{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 1000px) {
    .recruit_wrap .recruit_content {
        flex-wrap: wrap;
    }
    .recruit_wrap .recruit_content span{
        font-size: 2.2rem;
    }
    .recruit_wrap .recruit_content a {
        width: 50%;
        height: 30vh;

    }
} 
@media screen and (max-width: 600px) {
    .recruit_wrap h2{
        font-size: 3rem;
        line-height: 4rem;
        transition: all .8s;
    }
    .recruit_wrap .recruit_content {
        flex-wrap: wrap;
    }
    .recruit_wrap .recruit_content a {
        height: 15vh;
    }
    .recruit_wrap .recruit_content p {
        display: none;
    }
} 
/* qmenu */
.qmenu_wrap{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.qmenu_box{
    display: grid;
    gap: 3rem;
    grid-template-columns: 1.4fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 120rem; 
}
.qmenu_box div{
    border-radius: 1.5rem;
}
.qmenu_item {
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* x, y, blur, 색상 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 1.5rem;
}
.qmenu_item:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
    transform: translateY(-8px);
}
.qmenu_box .qmenu_con1{
    grid-row: 1 / span 2;
    height: 50rem;
    background-image: url(../img/category.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
.qmenu_box .qmenu_con2{
    background: #5978A9;
}
.qmenu_box .qmenu_con3{
    background: #B3B3BD;
}
.qmenu_box .qmenu_con4{
    background: #6CA589;
}
.qmenu_box .qmenu_con5{
    background: #0B5D37;
}
.qmenu_box div a{
    position: relative;
    display: block; 
    width: 100%; 
    height: 100%;
    padding: 3rem;
}
.qmenu_box div strong{  
    font-size: 3rem;
    font-weight: 500;
    color: #FFF;
}
.qmenu_box .qmenu_con1 strong{
    color: #000;
}

@media screen and (max-width: 1280px) {
    .qmenu_box{
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90rem; 
        transition: all .8s;
    }
    .qmenu_box div strong{  
        font-size: 2rem;
        font-weight:400;
    }
}
@media screen and (max-width: 930px) {
    .qmenu_box {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        width: 50rem;
        box-sizing: border-box;
        transition: all .8s;
    }
    .qmenu_box .qmenu_con1 {
        grid-column: 1 / span 2;
        height: 18rem;
    }
    .qmenu_box > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15rem;
    }
    .qmenu_box div strong {  
        font-size: 1.5rem;
    }
    .qmenu_box div a{
        padding: 2rem;
    }
}
@media screen and (max-width: 520px) {
    .qmenu_box {
        width: 30rem;
        gap: 1rem;
    }
    .qmenu_box div strong {  
        font-size: 1.2rem;
    }
    
}

