@charset "utf-8";

html {
    overflow-x: hidden;
    font-size: 10px;
    scroll-behavior: auto;
}
body {
    font-size: 1.6rem; color: #222;
    font-family: 'Noto Sans KR','suit','MalgunGothic', 'AppleSDGothic', sans-serif;
}
section{
    height: calc(100vh - 10rem);
    min-height: 85rem;
}
h2 {
    padding: 7rem 0; 
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 6rem;
}
.container {
    padding: 0 15rem; /* 양쪽 여백 150px */
}
.blind {
    display: block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}
/* display: none */
.lang_wrap ul, .search_popup, .allmenu_popup{
    display: none;
}

/* header */
header {
    min-width: 55.5rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9000;  
    color: #FFF;
}
header.scroll{
    background: #FFF;
    color: #222;
    transition: all 0.6s;
}
header.scroll h1 a {
    background:url(../img/logo.png) no-repeat;
    background-size: contain;
}
header::after{
    content:"";
    position: absolute;
    left: 0;right: 0;top: 10rem;
    height: 0;
    opacity: 0;
    background: #FFF;
    transition: all 0.6s;
    border-top: 0.1rem solid #0B5D37;
    z-index: 0;
}
header.on::after{
    height: 40rem;
    opacity: 1;
}
header.on #gnb .dep2 {
    display: flex;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
header h1 a{
    display: block;
    width: 15rem;
    height: 4.3rem;
    background: url(../img/logo_white.png) no-repeat;
    background-size: 100% auto;
}
header #gnb{
    width: 60%;
    height: 8rem;
}
header #gnb .dep1{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #gnb .dep1>li>a{
    display: block;
    padding: 3rem 2rem;
}
header #gnb .dep1>li{
    position: relative;
}
#gnb .dep2 {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    top: 12rem;
    z-index: 1;
    width: auto; /* 내용에 맞게 자동 */
    min-width: 100%; /* 최소 너비는 유지 */
    font-size: 1.5rem;
}
@media screen and (max-width: 1430px) {
    header #gnb .dep1>li>a{
        padding: 3rem 1rem;
        font-size: 1.5rem;
    }
    header #gnb .dep2 {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 1180px) {
    header #gnb .dep1{
        display: none;
    }
    .container{
        padding: 0 10rem;
    }    
}

/* header - util */
header .util{
    display:flex;
    align-items: center;
    gap: 2rem;
    height: 8rem;
}
.util .lang_wrap{
    position: relative;
}
.util .lang_wrap ul{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 3rem; left: -1rem;
    width: 7.5rem; height: 7rem;
    background: #FFF;
    border-radius: 0.8rem;
    border: 1px solid #CCC;
    color: #585858;
    font-weight: 500;
    font-size: 1.5rem;
    z-index: 3;
}
.util .lang_wrap ul.active{
    display: flex;
}
.util .lang_wrap li{
    text-align: center;
}
.util .lang_wrap li:hover{
    color: #000;
}
.util .lang_wrap li a{
    padding: 0.7rem;
    display: block;
}

/* header - search */
.search_popup {
    position: absolute;
    left: 0;right: 0;top: 10rem;
    z-index: 3;
}
.search_popup form {
    height: 28rem;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 5rem;
    background: rgba(0, 0, 0, 0.5);
}
.search_popup form input{
    width: 45rem;
    height: 6rem;
    padding: 2rem;
    border-radius: 1rem;
}
.search_popup form button {
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
    background: #9b9b9b;
    color: #FFF;
    font-size: 2rem;
}
@media screen and (max-width: 600px) {
    .search_popup form {
        gap: 2rem;
    }
    .search_popup form input{
        width: 40rem;
        height: 4rem;
    }
    .search_popup form button {
        height: 4rem;
        width: 4rem;
        font-size: 1.5rem;
    }
}
/* header - allmenu */
.allmenu_wrap{
    position: relative;
}
.allmenu_popup{
    position: absolute;
    justify-content: space-between;
    padding: 3rem 8rem;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 115.2rem;
    background: #ffffff;
    
}
.allmenu_popup .allmenu_logo{
    margin-top: 2rem;
}
.allmenu_popup .dep1{
    display: flex;
    gap: 4rem;
}
.allmenu_popup .dep1>li>a{
    display: block;
    border-bottom: 0.2rem solid rgb(0, 56, 7);
    padding: 2.5rem;
    color: #000;
}
.allmenu_popup .dep1>li{
    text-align: center;
    font-weight: 600;
    font-size: 2.2rem;
}
.allmenu_popup .dep2{
    margin-top: 2.5rem;
}
.allmenu_popup .dep2>li{
    font-weight: 400;
    font-size: 1.5rem;
    color: #000;
    padding: 1rem;
    text-align: center;
}
.allmenu_popup .dep3{
    margin-top: 2rem;
}
.allmenu_popup .dep3>li{
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: #4d4d4d;
}
.allmenu_popup button {
    height: 5rem;
    width: 5rem;
}
.allmenu_popup button i{
    font-size: 7rem;
    font-weight: 100;
    color: #353535;
}
@media screen and (max-width: 1450px) {
    .allmenu_popup .allmenu_logo img{
        display: none;
    }
    .allmenu_popup .dep3>li{
        font-size: 1rem;
        margin-bottom: 0.7rem;
    }
    .allmenu_popup .dep3{
        margin-top: 1rem;
    }
    .allmenu_popup .dep2{
        margin-top: 1.5rem;
    }
    .allmenu_popup .dep1>li{
        font-size: 1.5rem;
    }
}
/* footer */
footer{
    border-top: 0.1rem solid #000;
    padding: 3rem 0;
    height: 15rem;
    min-width: 78rem;
}
footer>*{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_info{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 5rem;
}
.footer_info img{
    width:  5.5rem;
    height: 7.7rem;
}
.footer_info address{
    margin-bottom: 1rem;
    line-height: 2rem;
}
.footer_link{
    display: flex;
    gap: 1rem;
    font-size: 4rem;
}
@media screen and (max-width: 950px) {
    .footer_info{
        font-size: 1.3rem;
        gap: 3rem;
    }
}
/* main_wrap */
.main_wrap{
    min-width: 55.5rem;
}
.main_wrap .main_swiper {
    height: 100vh;
    position: relative;
}
.main_wrap .main_swiper .swiper-slide::before {
    content:""; position: absolute;
    left: 0;top: 0;right: 0;bottom: 0;
    background: rgba(0,0,0,0.3);
}
.main_wrap .main_swiper img, .main_wrap .main_swiper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.main_wrap .main_swiper .main_txt{
    position: absolute;
    left: 15rem;
    top: 50%;
    font-size: 5rem;
    font-weight: 500;
    line-height: 6rem;
    color: #FFF;
}
.main_wrap .main_controls {
    position: absolute;bottom: 50px;left: 0;
    display: flex;justify-content: center;
    width: 100%;
    z-index: 20;
    color: #FFF;
    font-size: 2rem;
}
.main_wrap .swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20rem;
    gap: 2rem;
    color: #FFF;
    position: static;
    width: auto;
}
.main_wrap .swiper-pagination .progress {
    width: 30rem;
    height: 5px;
    background:rgba(255,255,255,.5);
}
.main_wrap .swiper-pagination .bar {
    width: 0; 
    height: 100%;
    background: #FFF;
    animation: slideBar var(--slide-duration) linear;
}
@keyframes slideBar {
    0% {width: 0;}
    100% {width: 100%;}
}
.main_wrap .swiper_btn_prev::after {
    content:'\F494';
    font-family: remixicon;
    font-size: 2.4rem;
    margin-left: 2rem;
}
.main_wrap .swiper_btn_next::after {
    content:'\F496';
    font-family: remixicon;
    font-size: 2.4rem;
    margin-left: 1.5rem;
} 
@media screen and (max-width: 1180px) {
    .main_wrap .swiper-slide .main_txt{
        left: 10rem;
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 5rem;
    }
    .main_wrap .swiper-pagination .progress {
        width: 17rem;
    }
}


/* product */
.product_wrap{
    /* background: rgb(9, 0, 62);  */
    background :#0c1b36;
    border-top: 0.1rem solid #646464;
    color: #FFF;
    min-width: 55.5rem;
}

.product_wrap h2{
    margin-bottom: 4rem;
}
.product_wrap .puick_product{
    display: none;
    font-size: 2rem;
}
.product_wrap .product_box {
    display: flex;
    gap: 2rem;
}
.product_wrap .product_box li {
    position: relative;
    border-radius: 1rem;
    width: 10rem;
    overflow: hidden;
    flex-grow: 1;
    height: 45rem;
    text-align: center;
    transition: all 1s;
}
.product_img{
    width: 100%;
    height: 35rem;
}
.product_box li strong{
    display: block;
    font-weight: 600;
    font-size: 3rem;
    padding-top: 2rem;
}
.product_box li .product_list{
    display: none;
    flex-direction: column;
    gap: 2rem;
    position: absolute;;
    right: 7%;
    top: 30%;
    font-size: 2rem;
}
.product_box li a{
    display: inline-block;
}
.product_box li:hover{
    background :#FFF;
    color: #000;
    flex-grow: 2.2;
}
.product_box li:nth-child(2):hover .product_list{
    top: 10%;
    right: 5%;
}
.product_box li:hover .product_img{
    filter: drop-shadow(10px 15px 10px #4d4d4d);
}
.product_box li:hover .product_list{
    display: flex;  
}
@media screen and (max-width: 1610px) {
    .product_wrap .puick_product_list {
        display: none;
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        background: #fff;
        color: #000;
        padding: 0.8rem 2rem;
        border-radius: 0.8rem;
        text-decoration: none;
        transition: all 0.3s;
        z-index: 10;
    }
    .product_box li:hover{
        background :#FFF;
        color: #000;
        flex-grow: 2;
    }
    
    .product_box li:hover .product_list {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .product_wrap .product_box {
        display: none;
    }
    .product_wrap .puick_product {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        font-size: 2rem;
        background: #4d4d4d;
        color: #FFF;
        padding: 2rem 6rem;
        border-radius: 1rem;
        transition: background 0.5s ease;
    }

    .product_wrap .puick_product:hover {
        background: #FFF;
        color: #000;
    }

    .product_wrap {
        text-align: center;
    }

    .product_wrap h2 {
        font-size: 3rem;
        line-height: 1.4;
        margin-top: 10rem;
    }
    .product_box li a:hover {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 0.5rem;
    }
}


/* esg */
.esg_wrap{
    height: 200vh;
    min-width: 61rem;
}
.esg_intro{
    position: relative;
    height: 100vh;
    background :#0c1b36;
    text-align: center;
    line-height: 3rem;  
}
.intro_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3rem;
    color: rgba(255, 255, 255, 1);
}
.esg_intro .intro_content strong{
    color: #FFF;
}
.esg_intro p{
    margin-bottom: 2rem;
}
@media screen and (max-width: 1210px) {
    .intro_content {
        font-size: 2rem;
    }
}
@media screen and (max-width: 810px) {
    .intro_content {
        font-size: 1.5rem;
    }
}
/* .esg_box */
.esg_box{
    display: flex;
}
.esg_box .esg_img {
    position: relative; 
    width: 50%;
    height: calc(100vh - 10rem);
    overflow: hidden;
}
.esg_box .esg_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.esg_box .esg_img img.active{
    opacity: 1;
    z-index: 1;
}
.esg_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
}
.esg_content>*{
    min-width: 66rem;
}
.esg_content span{
    font-size: 3rem;
    font-weight: 500;
}
.esg_content div{
    height: 100px;
    width: 100%;
    overflow: hidden;
    transition: height 0.8s;
    border-bottom: 1.5px solid rgba(0, 0 , 0, .3);
}
.esg_content div:hover {
    height: 300px;
}
.esg_content div a{
    display: block;
    padding: 5rem 3rem ;
}
.esg_content div span {
    line-height: 4rem;
    font-size: 3.5rem;
}
.esg_content div p{
    height: 10rem;
    line-height: 3.3rem;
    font-size: 1.8rem;
}
@media screen and (max-width: 960px) {
    .esg_content div p{
        line-height: 3rem;
        font-size: 1.3rem;
    }
}
/* news */
.news_wrap{
    min-width: 50rem;
}
.news_wrap .news_swiper{
    overflow: hidden;
}
.news_wrap .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news_wrap .news_swiper .swiper-slide {
    position: relative;
    height: 38rem;
    margin-right: 1.4rem;
    border-radius: 1rem;
    overflow: hidden;
}
.news_wrap .news_swiper .swiper-slide span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 400;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 90%);
    opacity: 0;
    transform: translateY(20px); /* 아래에서 올라오듯 */
    transition: all 0.4s ease;
    pointer-events: none; /* 클릭 막기 */
}
.news_swiper .swiper-slide:hover span {
    opacity: 1;
    transform: translateY(0);
}


.news_wrap .news_swiper{
    position: relative;
}
.news_wrap .news_swiper .swiper-pagination{
    background-color: rgba(0,0,0,0.1);
    position: static;
    margin-top: 5rem;
    width: 100%;
    height: 1rem;
}
.swiper-pagination-progressbar-fill {
    background-color: rgba(0,0,0,0.3) !important;
}
/* recruit */
.recruit_wrap h2{
    color: #FFF;
    padding-bottom: 5rem;
}
.recruit_wrap{
    position: relative;
    overflow: hidden;
    min-width: 63rem;
}
.recruit_wrap .recruit_bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 영상이 요소 크기에 꽉 차도록 */
    z-index: -1;        /* 콘텐츠보다 뒤에 위치 */
}
.recruit_wrap h2, .recruit_wrap .recruit_content {
    position: relative;
    z-index: 2; /* 영상보다 위에 나오게 */
}
.recruit_wrap .recruit_content{
    display: flex;
    justify-content: space-between;
}
.recruit_wrap .recruit_content a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39rem;
    height: 50rem;
    color: #FFF;
    
}
.recruit_wrap .recruit_content a:hover{
    transition: all 0.6s;
    color: #FFF;
    
}
.recruit_wrap .recruit_content span{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.recruit_wrap .recruit_content p{
    text-align: center;
    line-height: 2rem;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 50;
    transition: all 0.2s ease;
    filter: blur(5px); /* 퍼짐을 좀 더 자연스럽게 */
    background: radial-gradient(
      rgba(255, 255, 255, 0.5) 0%,   /* 중앙은 거의 흰색 */
      rgba(255, 255, 255, 0.2) 60%,  /* 중간은 투명해짐 */
      rgba(255, 255, 255, 0.05) 100% /* 바깥은 거의 안보임 */
    );
}

/* a 태그 위에 올렸을 때 커서 스타일 변경 */
/* .recruit_content a:hover ~ .custom-cursor {
    width: 6rem;
    height: 6rem;
    background-color: rgba(255, 255, 255, 0.7); 
    }/* 호버 시 색상 변경 */

@media screen and (max-width: 1360px) {
    .recruit_wrap .recruit_content span {
        font-size: 3rem;
    }
    .recruit_wrap .recruit_content p{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 1000px) {
    .recruit_wrap .recruit_content {
        flex-wrap: wrap;
    }
    .recruit_wrap .recruit_content a {
        width: 50%;
        height: 30vh;
    }
} 
/* qmenu */
.qmenu_wrap{
    min-width: 56rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.qmenu_box{
    display: grid;
    gap: 3rem;
    grid-template-columns: 1.4fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 120rem; 
}
.qmenu_box div{
    border-radius: 1.5rem;
}

.qmenu_item {
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* x, y, blur, 색상 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 1.5rem;
}
.qmenu_item:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
    transform: translateY(-8px);
}
.qmenu_box .qmenu_con1{
    grid-row: 1 / span 2;
    height: 50rem;
    background-image: url(../img/category.jpg);
    background-size: cover;         /* 영역에 딱 맞게 채움 (잘림 가능) */
    background-position: center;    /* 가운데 정렬 */
    background-repeat: no-repeat;   /* 반복 제거 */
}
.qmenu_box .qmenu_con2{
    background: #5978A9;
}
.qmenu_box .qmenu_con3{
    background: #B3B3BD;
}
.qmenu_box .qmenu_con4{
    background: #6CA589;
}
.qmenu_box .qmenu_con5{
    background: #0B5D37;
}
.qmenu_box div a{
    position: relative;
    display: block; 
    width: 100%; 
    height: 100%;
    padding: 3rem;
}
.qmenu_box div strong{  
    font-size: 3rem;
    font-weight: 500;
    color: #FFF;
}
.qmenu_box .qmenu_con1 strong{
    color: #000;
}

@media screen and (max-width: 1280px) {
    .qmenu_box{
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90rem; 
    }
    .qmenu_box div strong{  
        font-size: 2rem;
        font-weight:400;
    }
}
@media screen and (max-width: 930px) {
    .qmenu_box {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        width: 100%;
        box-sizing: border-box;
    }
    .qmenu_box .qmenu_con1 {
        grid-column: 1 / span 2;
        height: 28rem;
    }
    .qmenu_box > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15rem;
    }
    .qmenu_box div strong {  
        font-size: 2rem;
        font-weight: 400;
    }
}

